<!DOCTYPE html>
<html>
  <head>
    <title>BaseballApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="header-logo"><a href="/">Baseball Management</a></h1>
        <% if user_signed_in? %>
          <div class="grid-6">
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "post" %>
            <%= link_to "選手登録", new_player_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
